* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* touch-action: manipulation; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* For WebKit-based browsers */
  -moz-focusring: none; 
  outline: none; 
}
:root {
  --bg-color: #222831;
  --Button-color: #495e57;
  --opr-button-color: #f4ce14;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: max-content;
  margin: 0 auto;
  background: #393E46;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  padding: 15px;
  border-radius: 1rem;
}
.display-container {
  width: 100%;
  margin-bottom: 10px;
}
.display-container input {
  width: 100%;
  height: 90px;
  text-align: right;
  padding: 0 10px;
  font-size: 2.4rem;
  -webkit-user-select: none;
  user-select: none;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #f5f7f8;
  color: whitesmoke;
}
.button {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 1.6rem;
  outline: none;
  border: none;
  font-size: 1.1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #FAF3F0;
  cursor: pointer;
  transition: 1s linear ease .2;
  overflow: hidden;

}
.button:hover{
  color: white;
  background-color: #00ADB5;
}
.opr-button {
  background-color: var(--opr-button-color);
  color: var(--Button-color);
  margin-right: 0;
}
.opr-button:hover{
  transform: scale(1.1);
}
.big-button {
  width: calc(100px + 15px);
}
.very-big-button {
  width: calc(150px + 30px);
}

@media only screen and (max-width: 450px) {
  .container{
    background: #393E46;
    position: relative;
    width: 100%;
    padding: 0;
    height: calc(100vh - 1vh);
    bottom: 0;
  }
  .main-container{
    position: absolute;
    bottom: 0;
    align-items: center;
    width: 100%;
    margin: 0;  
    overflow: hidden;
    /* height: 50%; */
  }
  .display-container input {
    width: 100%;
    height: 90px;
    text-align: right;
    padding: 0 10px;
    font-size: 5rem;
    -webkit-user-select: none;
    user-select: none;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #f5f7f8;
    color: whitesmoke;
  }
  .button {
    width: 68px;
    height: 70px;
    margin: 8px;
    border-radius: 3rem;
    outline: none;
    border: none;
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FAF3F0;
    cursor: pointer;
    transition: 1s linear ease .2;
    overflow: hidden;
  
  }
  .button:hover{
    color: white;
    background-color: #00ADB5;
  }
  .opr-button {
    background-color: var(--opr-button-color);
    color: var(--Button-color);
    margin-right: 0;
  }
  .opr-button:hover{
    transform: scale(1.1);
  }
  .big-button {
    width: calc(140px + 15px);
  }
  .very-big-button {
    width: calc(210px + 35px);
  }


}